---
import { text } from '@src/language/text';
import style from './Breadcrumbs.module.css';
import type { Language } from '@src/language/language';
import { baseUrl, minSideUrl } from '@src/utils/server/urls';

const language = Astro.currentLocale as Language;
---

<div class={style.container}>
  <a class={`${style.minSideLink} ${style.link}`} href={minSideUrl}>
    {text.minSide[language]}
  </a>
  <div class={style.linkWrapper}>
    <a class={style.link} href={baseUrl}>
      {text.title[language]}
    </a>
  </div>
</div>
